body{
font-family: Cambria,Times,Serif;
color:#000;
}
a:link{color:#800;}
a:visited{color:#400;} 
a:active{color:#f00;}
a:hover{color:#f00;}
p{
text-indent:1.5em;
text-align:justify;
}
caption{
font-weight:bold;
font-style:italic;
font-size:120%;
}
h1,h2,h3,h4,h5,h6{
font-weight:bold;
}
h1{
color:#00F;
font-size:220%;
text-align:center;
}
h2{
color:#00C;
font-size:160%;
text-decoration:underline;
text-align:center;
}
h3{
color:#00C;
font-size:160%;
}
h4{
color:#008;
font-style:italic;
font-size:120%;
}
h5{
color:#008;
font-size:100%;
}
h6{
color:#000;
font-size:100%;
text-decoration:underline;
font-weight:normal;
}
pre,tt{
color:#008;
}
pre{
padding-left:25;
}
tt{
padding-left:4;
padding-right:2;
}
th{
border:1;
border-style:solid;
border-color:#875 #875;
}
td{
border:1;
border-style:solid;
border-color:#875 #875;
}
.indice_centrado{
padding-left:200;
padding-right:100;
}
.tabla1{
border: 1px outset #0050ff;
}
.img_bg0{
border:0;
width:32px;
height:32px;
background-image:url(f0.gif);
background-position:0px 0px;
background-repeat:no-repeat;
}
.img_bg1{
border:0;
width:128px;
height:32px;
background-image:url(f0.gif);
background-position:-32px 0px;
}
.img_bg2{
border:0;
width:32px;
height:32px;
background-image:url(f0.gif);
background-position:-160px 0px;
background-repeat:no-repeat;
}
.img_bg3{
border:0;
width:32px;
background-image:url(f1.gif);
background-position:0px -32px;
background-repeat:repeat-y;
}
.img_bg5{
border:0;
width:32px;
background-image:url(f1.gif);
background-position:-32px 0px;
background-repeat:repeat-y;
}
.img_bg6{
border:0;
width:32px;
height:32px;
background-image:url(f0.gif);
background-position:0px -32px;
background-repeat:no-repeat;
}
.img_bg7{
border:0;
width:128px;
height:32px;
background-image:url(f0.gif);
background-position:-32px -32px;
}
.img_bg8{
border:0;
width:32px;
height:32px;
background-image:url(f0.gif);
background-position:-160px -32px;
background-repeat:no-repeat;
}
.div_centered{
border:0;
padding-top:16;
padding-right:16;
padding-bottom:16;
padding-left:16;
}